{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoseFit-Category</title>
    <link rel="stylesheet" href="{% static 'mainapp/category.css' %}">
</head>
<body>
    <div class="margin">
        <div class="nav-wrapper">
            <div class="nav"><span class="nav-home"><a href="/">PoseFit</a></span></div>
            <div class="nav-title">CATEGORY</div>
        </div>
       
        <div class="category-wrapper">
            <span id="category-title">PILATES</span>
            <div class="youtube">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/3zRMZ4Uijlo" title="YouTube video player" frameborder="1"  bordercolor="#0fffcd" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><a href="/"></a></iframe>
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/tyb35HA55vE" title="YouTube video player" frameborder="1"  bordercolor="#0fffcd" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ql79vjABQrM" title="YouTube video player" frameborder="1"  bordercolor="#0fffcd" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    
        <div class="category-wrapper">
            <span id="category-title">LOWER BODY WORKOUT</span>
            <div class="youtube">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Hxf48l1_-YU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/sk6L5MwZJ80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/FWQmAtiUb8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </div>
        </div>
    
    </div>
    


</body>
</html>