{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mainapp/home2.css' %}">
</head>
<body>
    <div class = "navbar">
        <div class = "title">
            <h1 id = "title"><a href="#">PoseFit</a></h1>
        </div>
        <div class = "toolbar">
            <table id = "toolbar">
                <td><a href="#PoseFit">PoseFit</a></td>
                <td><a href="#START">START</a></td>
                <td><a href="#Q&A">Q&A</a></td>
                <td><a href="#RECRUIT">RECRUIT</a></td>
            </table>
        </div>
        <div class = "blank"></div>
    </div>

    <div class = "section0" id="section0">
        <div id="image">
        </div>
        <!-- <div class = "logo-wrap">
            <h1>
                <span class = "logo">PoseFit</span>
            </h1>
        </div> -->
    </div>




</body>
</html>