@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body{
    /* margin-top: 5rem; */
    margin: 4rem 3rem 0 3rem;
    font-family: 'Fjalla One', sans-serif;
    /* background-color: #262626; */
}
.navbar{
    display:block;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    background-color: white;
}
.title{
    float: left;
    width: 15%;
    /* border: 4px dashed #bcbcbc; */
}

#title{
    color: #0fffcd;
    margin-left: 5rem;
}

.toolbar{
    float:left;
    width: 66%;
    /* border: 4px dashed #bcbcbc; */
    padding: 1.5rem;
}

#toolbar{
    width: 40%;
    margin: auto;
    text-align: center;
}

a:link { color: #262626; text-decoration: none;}
a:visited { color: #262626; text-decoration: none;}
a:active { color: #0fffcd; text-decoration: none;}
a:hover { color: #0fffcd; text-decoration: none;}

.blank{
    float: left;
    width: 15%;
    /* border: 4px dashed #bcbcbc; */
}

.section0{
    width: 100%;
    height: auto !important;
}

#image{
    /* float:left; */
    /* width: 100%; */
    margin-top: 5rem;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../mainapp/home_fitness.jpg);
    /* padding: 1.5rem; */
    height: 830px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.logo-wrap{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 225px;

}

.logo-wrap h1{
    color: white;
    text-transform: uppercase;
    font-size: 10rem;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
  }

.logo{
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

.logo span{
    transform: skew(-10deg);   
}

.logo-wrap span {
    display: block;
    float: left;
    text-shadow: 2px 2px 2px #0fffcd;
    min-width: 10px;
    min-height: 10px;
    position: relative;
}


.title :nth-child(1){
    color: #0fffcd;
}

.section1{
    display:block;
    width: 100%;
    height: 250px !important;
    background-color: white;
}

.section1 #Introduce{
    width: 60%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
    vertical-align: middle;
} 

.section1 #main{
    display: inline-block;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    margin-top: .3rem;
}

.section1 #sub{
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    /* letter-spacing: 2px; */
}

.section1 #button {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 1rem;
  }

button {
    /* 생략 */
    margin: 0;
    padding: .3rem 2rem;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 1rem;
}

button {
    /* 생략 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
  }

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
:root {
    --button-color: #ffffff;
    --button-bg-color: #1a1a1a;
    --button-hover-bg-color: #3b3b3b;
  }

button {
    /* 생략 */
    background: var(--button-bg-color);
    color: var(--button-color);
}

.section2{
    /* display:inline-block; */
    /* flex:left; */
    width: 100%;
    height: 700px !important;
    background-color: #e8e7e5;
}

.box{
    float: left;
    width: 70rem;
    height: 800px;
    position: relative;
}

.youtube-frame{
    width: 100%; 
    height: 550px;
    display: block; 
    object-fit:contain;
    position: absolute; 
    background-image: url(../mainapp/youtube_frame.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 3rem;
}

.youtube-gif{
    width: 70%; 
    height: 330px;
    /* display: block; */
    object-fit:contain;
    position: absolute; 
    background-image: url(../mainapp/youtube-gif.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 11.5rem;
    margin-left: 10.3rem;
}

.posetraking{
    float: right;
    width: 20%;
    height: 700px;
    /* position: relative; */
    background-image: url(../mainapp/pose-example2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 5rem;
    margin-right: 15rem;
    text-align: center;

}

#posetraking{
    /* display: inline-block; */
    width: 5rem;
    font-size: 2rem;
    font-weight: bolder;
    /* letter-spacing: .2rem; */
}
